<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61997514957-2eeksupni3o78g5rp2nlqfte9es54atv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61997514957-2eeksupni3o78g5rp2nlqfte9es54atv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>61997514957-hokl2fdpmq5bu9b3j6t91c5h6vcduiji.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApY_JBs4Z1zQAKYUqXQGZxTaYb5c3Qr3E</string>
	<key>GCM_SENDER_ID</key>
	<string>61997514957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatappafirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappafirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61997514957:ios:7347a96c7ac0f239022984</string>
</dict>
</plist>